body {
    text-align: center;
    background-color: #002147;
    font-family: 'Franklin Gothic Medium';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
textarea:focus, input:focus, button:focus {
    outline: none;
}
.b1 {
    color: black;
    font-size: 36px;
    text-align: center;
    margin: auto;
    position: absolute center;
    margin-top: 10vh;
    min-width: 290px;
    max-width: 20vw;

}
#wrongpass {
    font-size: 24px;
    color: red;
    position: absolute;
    left: 5%;
    right: 5%;
    margin-top: 10px;
    overflow: hidden;
    display: inline-block;
}
.login {
    border: groove black 2px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: black;
    font-size: 36px;
    text-align: center;
    position: absolute center;
    min-width: 290px;
    max-width: 20vw;
}
.regi {
    background-color: white;
    border: groove black 2px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: black;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    position: absolute center;
    min-width: 290px;
    max-width: 20vw;
}
.loginbox {
    position: absolute center;
    margin: auto;
    right: 10px;
    font-size: 26px;
    margin-top: 10vh;
    color: white;

}
input#usernameTxt {
    padding: 10px 15px;
    border-radius: 10px;
    border: groove black 2px;
    box-shadow: 0 0 5px black;
    margin-top: 5px;
    margin-bottom: 10px;
}
input#passwordTxt {
    padding: 10px 15px;
    border-radius: 10px;
    border: groove black 2px;
    box-shadow: 0 0 5px black;
    margin-top: 5px;
}
.jotronlogo {
    background-color: white;
    border: groove white 2px;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    position: absolute center;
    margin-top: 2vh;
    max-width: 80%;
    max-height: 30vh;
}
.info {
    font-size: 24px;
    border: 1px groove black;
    box-shadow: 0 0 3px black;
    text-shadow: 0 0 1px black;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px 10px 0 10px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}
button:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    
}
.passreq:hover, .userinfo:hover, .info:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.userinfo {
    color: white;
    font-size: 15px;
    position: static;
    text-decoration: underline;
    display: inline-block;
    margin-top: 20px;
}
.passreq {
    font-size: 15px;
    position: static;
    color: white;
    text-decoration: underline;
    display: inline-block;
    margin-top: 5px;
}
.preqfiledsub {
    border: groove black 2px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: black;
    font-size: 36px;
    text-align: center;
    position: absolute center;
    min-width: 290px;
    max-width: 20vw;
    margin-top: 5vh;
}
.passreqfieldbox {
    position: absolute center;
    margin: auto;
    right: 10px;
    font-size: 26px;
    margin-top: 30vh;
    color: white;
}
input#passreqfield {
    padding: 10px 15px;
    border-radius: 10px;
    border: groove black 2px;
    box-shadow: 0 0 5px black;
    margin-top: 5px;
    min-width: 290px;
    max-width: 20vw;
    margin-top: 5vh;
}
div.backtop {
    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: groove 3px black;
    box-shadow: 0 0 10px black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

div.backbutton {
    background-color: white;
    box-shadow: 0 0 5px black;
    width: 40px;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 5px;
    border: groove 2px black;
    border-radius: 20%;
}

div.backbuttonsymbol {
    position: absolute;
    z-index: 3;
    top: 24px;
    left: 10px;
    font-size: 32px;
    color: darkorange;
    font-weight: bold;
    letter-spacing: -6px;
    user-select: none;
}

div.backheadpassreq, .backheadaccmake {
    color: black;
    font-size: 34px;
    user-select: none;
    font-family: 'Franklin Gothic Medium';
    position: absolute;
    z-index: 2;
    left: 10px;
    right: 10px;
    top: 3%;
    min-width: 200px; 
}
div.dorp {
    color: white;
    font-size: 34px;
    margin-top: 30vh;
    
}
#dorpbuttA {
    background-color: white;
    border: groove black 2px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: black;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    position: absolute center;
    min-width: 170px;
    max-width: 10vw;
}
#dorpbuttB {
    background-color: white;
    border: groove black 2px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: black;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    position: absolute center;
    min-width: 170px;
    max-width: 10vw;
}
#logoutbutt {
    background-color: white;
    border: groove black 2px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: black;
    font-size: 32px;
    text-align: center;
    margin-top: 40vh;
    position: absolute center;
    min-width: 300px;
    max-width: 10vw;

}
div.wrapacc {
    color: white;
    margin-top: 5vh;
    position: absolute center;
    margin-top: 15vh;
    font-size: 17px;
}
input#usernameregTxt, #emailTxt, #passwordregTxt, #homeadressTxt, #mobilTxt, #pickupTxt, #passwordrepreTxt {
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    border: groove black 2px;
    box-shadow: 0 0 5px black;
    margin: auto;
    right: 10px;
    font-size: 26px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
.terms {
    font-size: 14px;
}
#regsub {
    border: groove black 2px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: black;
    font-size: 36px;
    text-align: center;
    position: absolute center;
    min-width: 290px;
    max-width: 20vw;
    margin-top: 1vh;
}
.head1 {
    margin-bottom: 2vh;
    text-decoration: underline;
}
#googelmapreg {
    margin-bottom: 1vh;
    margin-top: 1vh;
    color: darkorange;
}
div.driverhead {
    color: black;
    font-size: 34px;
    user-select: none;
    font-family: 'Franklin Gothic Medium';
    position: absolute;
    z-index: 2;
    left: 10px;
    right: 10px;
    top: 3%;
    min-width: 200px;
}
.pickuplan {
    margin-top: 10vh;
    margin-bottom: 4vh;
    color: white;
    font-size: 32px;
}
div.backheaddriverapp {
    color: black;
    font-size: 34px;
    user-select: none;
    font-family: 'Franklin Gothic Medium';
    position: absolute;
    z-index: 2;
    left: 22px;
    right: 10px;
    top: 3.5vh;
    min-width: 200px;
    
}
div.appointmentsh1 {
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 34px;
    margin-top: 14vh;
}
div.appointmentbox1, .appointmentbox2, .appointmentbox3, .appointmentbox4, .appointmentbox5 {
    background-color: white;
    border: groove black 2px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: black;
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5px;

}
div.appointmentbox1 {
    margin-top: 14px;
    background-color: lime;
}
div.weekback {
    position: absolute;
    z-index: 3;
    top: 538px;
    left: 45px;
    font-size: 32px;
    color: darkorange;
    font-weight: bold;
    letter-spacing: -6px;
    user-select: none;
}
div.weeknext {
    position: absolute;
    z-index: 3;
    top: 538px;
    right: 50px;
    font-size: 32px;
    color: darkorange;
    font-weight: bold;
    letter-spacing: -6px;
    user-select: none;
}
div.weekback2 {
    background-color: white;
    box-shadow: 0 0 5px black;
    width: 40px;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 530px;
    left: 40px;
    border: groove 2px black;
    border-radius: 20%;
}
div.weeknext2 {
    background-color: white;
    box-shadow: 0 0 5px black;
    width: 40px;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 530px;
    right: 40px;
    border: groove 2px black;
    border-radius: 20%;
}
div.colorexp2 {
    color: lime;
    font-family: 'Franklin Gothic Medium';
    font-size: 14px;
}
div.colorexp {
    margin-top: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 14px;

}
button.finddriver {
    background-color: white;
    border: groove black 2px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: black;
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    min-width: 300px;

}
b.bcolor {
    color:lime;
}
