body {
    margin:0;
    padding:0px;
   background-color: #002147;
}
#driver {
    background-color: #00669B;
    font-size:50px;
    color: white;
    text-align:center;
    height: 100px;
    
    
}
#backButtton {
    text-decoration: none;
    display: block;
    padding: 2px 10px;
    color: #FF0000;
    background-color: #70BAD6;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 20%;
}
#head-oppointment {
    text-align:center;
    font-size:50px;
    color:white;

}


