

.request {
    font-family: 'Franklin Gothic Medium';
    font-size:70px;
    color: white;
    background-color: #002147;
    text-align: center;
    height: 500px;
    /*border: 1px solid #002147;*/
    box-sizing: border-box;
    /*width: 300px;*/
    /*height: 400px;*/
    /*border: 1px solid #002147;*/
    /*margin-top: 350px;
    padding-top: 50px;*/
    margin-top:250px;
}

#yesButton {
    background-color: #FF0000;
    border: none;
    color: black;
    padding: 30px 53px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    
    margin-top: 70px;
    
    /*margin-bottom: 70px;*/
    cursor: pointer;
}

#NoButton {
    background-color: #14B214;
    border: none;
    color: black;
    padding: 30px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    /*margin-left: 550px;
    margin-top: 1px;*/
    cursor: pointer;
}
