
body{
  max-width: 360px;
}
div.sjafortop{
    background-color: #00669B;
    width: 360px;
    height: 62px;
    border: solid 1px black;
    position: relative;
    
}
div.backbutton{
    background-color: white;opacity:0.5;
    width: 66px;
    height: 38px;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    border: solid 1px black;
    border-radius: 40%;

}
div.backbuttonsymbol{
    width: 56px;
    height: 28px;
    position: absolute;
    z-index: 2;
    top: 18px;
    left: 34px;
    font-size: 36px;
    color: red;
    font-weight: bold;
    letter-spacing: -6px;
    user-select: none;

}
div.sjaforhead{
    position: absolute;
    z-index: 3;
    top: 16px;
    left: 141px;
    font-family: 'Franklin Gothic Medium';
    font-size: 36px;
    color: white;
    user-select: none;

}

div.container{
    background-color: #002B51;
    width: 360px;
    height: 640px;
    border: solid 1px black;
    position: relative;    
}
#sjaforfor1{
    height: 448px;
    width: 360px;
    background-color: rgb(173, 173, 173);
    position: absolute;
    z-index: 1;
    border: solid 1px yellow;
    left: -1px;
    top: 40px;
}
h1.test123{
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium';
}
p.tlfnumber1{
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
    font-family: 'Franklin Gothic Medium';

}
#avstand1{
    font-size: 26px;
    top: 70px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';

}
button{
    border-radius: 10px;
    background-color: white;
    font-family: 'Franklin Gothic Medium';

}
#googlemaps1{
    font-size: 22px;
    width: 340px;
    height: 45px;
    top: 160px;
    margin-left: 10px;
    position: absolute;
    font-family: 'Franklin Gothic Medium';

}
div.Avlys1{
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(252, 161, 161);
    font-size: 28px;
    width: 340px;
    height: 45px;
    top: 360px;
    text-align: center;
    margin-left: 10px;
    padding-top: 8px;;
    position: absolute;
    font-family: 'Franklin Gothic Medium';
}
div.container2{
    top: 670px;
    position: relative;
    overflow: auto;
}
#sjaforfor2{
    height: 448px;
    width: 360px;
    background-color: rgb(173, 173, 173);
    position: absolute;
    z-index: 1;
    border: solid 1px yellow;
    left: -1px;
    top: 40px;
}
h1.navn2{
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium';
}
p.tlfnumber2{
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
    font-family: 'Franklin Gothic Medium';

}
#avstand2{
    font-size: 26px;
    top: 70px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';

}
button{
    border-radius: 10px;
    background-color: white;
    font-family: 'Franklin Gothic Medium';

}
#googlemaps2{
    font-size: 22px;
    width: 340px;
    height: 45px;
    top: 160px;
    margin-left: 10px;
    position: absolute;
    font-family: 'Franklin Gothic Medium';

}
div.Avlys2{
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(252, 161, 161);
    font-size: 28px;
    width: 340px;
    height: 45px;
    top: 360px;
    text-align: center;
    margin-left: 10px;
    padding-top: 8px;;
    position: absolute;
    font-family: 'Franklin Gothic Medium';
}
h1{
  text-align: center;
}
#sjaforavtalerfredag, #sjaforavtalertorsdag, #sjaforavtaleronsdag, #sjaforavtalertirsdag, #sjaforavtalermandag{
  border: solid 1px green;
  padding: 8px;
  margin: 8px;
  font-family: 'Franklin Gothic Medium';
  font-weight: bold;
  font-size: 16px;
}
div.duharpassasjer{
  background-color: limegreen;
  float: right;
  text-align: center;
  width: 210px;
  height: 34.1px;
  margin-top: -7.8px;
  vertical-align: middle;
}
